@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 10px 0;
    background-color: hsl(0 0% 91%);
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1000px;
    grid-auto-rows: 270px;
    margin-bottom: 20px;
}

.box {
    border-radius: 15px;
    padding: 20px;
}

.box img{
    width: 100%;
}

.star {
    grid-column: 2/4;
    grid-row: 1;
    background-color: hsl(256, 67%, 59%);
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-style: italic;
    padding:  0 10px  45px 0;
    place-content: center;
}

.star h1 {
    font-weight: 500;
    margin-bottom: 15px;
}

.star h1 span {
    color: hsl(39, 100%, 71%);
}

.star img {
    width: 50%;
    margin-bottom: 10px;
}

.star p{
    font-size: 20px;
    font-style: normal;
}

.platforms {
    grid-column: 2;
    grid-row: 2;
    background-color:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
}

.platforms h1 {
    font-weight: 600;
     line-height: 1;
}

.platforms img {
    width: 280px;
    margin-bottom: 20px;
}

.consistent{
     grid-column: 3;
    grid-row: 2;
    background-color: hsl(39, 100%, 71%);
     display: flex;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
}

.consistent h1 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 25px;
}

.schedule {
     grid-column: 4;
    grid-row: 1/3;
    background-color: hsl(254, 88%, 90%);
    display: flex;
    flex-direction: column;
   width: 250px;
   overflow: hidden;
   
}

.schedule h1 {
    font-weight: 600;
    white-space: wrap;
}

.schedule img {
    width: 250px;
    height: 300px;
    margin: 20px 0;
}

.schedule p{
    margin: 10px 15px;
    line-height: 1.6;
    font-weight: 600;

}

.followers {
     grid-column: 3/5;
    grid-row: 3;
    background-color: hsl(256, 67%, 59%);
    display: flex;
    justify-content: center;
}

.followers h1 {
    align-self: center;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 34px;
}

.audience {
    grid-column: 2;
    grid-row: 3; 
    background-color:  hsl(0, 0%, 100%);
}

.audience h1 {
    font-size: 80px;
}

.audience img {
    margin: 20px 0;
}


.create {
    grid-column: 1;
    grid-row: 1;
    background-color:  hsl(31, 66%, 93%);
    transform: scaleY(1.5) translateY(45px);
    width: 240px;
}

.create h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    margin: 20px 0;
}

.create h1 span {
    font-style: italic;
    color: hsl(256, 67%, 59%);
    font-size: 26px;
}

.ai-content {
     grid-column: 1;
    grid-row: 3;
    transform: scaleY(1.6) translateY(-50px);
    background-color: hsl(39, 100%, 71%);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 240px;
}

.ai-content h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 30px;
    white-space: wrap;
    height: auto;
}


.ai-content img {
    height: 57%;
}

@media (max-width:768px) {
        
    .bento-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        max-width: 600px;
        grid-auto-rows: auto;
        padding: 30px;
    }

        
    .box {
        grid-column: 1;
        width: auto;
    }

    .star {
        height: 300px;
        grid-row: 1;
        text-align: center;
        font-size: 20px;
        padding:  10px;
    }

    .star p{
        font-size: 20px;
    }

    .platforms {
        grid-row: 2;
        display: flex;
        flex-direction: column;
    }

    .platforms img {
        width: auto;
        margin-bottom: 20px;
    }

    .consistent{
        grid-row: 3;
        height: 390px;
    }


    .schedule {
        grid-row: 4;
        overflow: unset;
        text-align: center;
    }


    .schedule img {
        width: 90%;
        height: auto;
        align-self: center;
    }

    .schedule p{
        margin: 10px 15px;
        line-height: 1.6;
        font-weight: 600;

    }

    .followers {
        grid-row: 5;
        flex-direction: column;
        justify-content: center;
    }

    
    .followers img {
        width: 80%;
        height: auto;
        align-self: center;
        margin: 15px 0;
    }


    .followers h1 {
        text-align: center;
        font-size: 30px;
    }

    .audience {
        grid-row: 6; 
    }

    .audience h1 {
        font-size: 80px;
    }

    .audience img {
        margin: 20px 0;
        width: 50%;
    }

    .audience p {
        font-size: 20px;
    }

    .create {
        grid-row: 7;
        transform: unset;
        width: auto;
        padding: 20px;
    }

    .create h1 {
        font-size: 30px;
    }

    .create h1 span {
        font-size: 30px;
    }

    .create img {
        width: 50%;
    }

    .ai-content {
        grid-row: 8;
        transform: unset;
        padding:  20px;
        width: auto;
    }

    .ai-content h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 1,4;
        height: auto;
        max-width: 350px;
        margin: 20px 0;
    }


    .ai-content img {
        height:auto;
        width: 80%;
    }
}
